# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Environment
.env
.venv/
venv/
*.env
backend/.env.prod

# Alembic
backend/alembic/versions/*.pyc
backend/alembic/versions/__pycache__/

# VS Code
.vscode/

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.cache/
frontend/.DS_Store

# Docker
*.pid
*.log
*.sock

# OS
.DS_Store
Thumbs.db

# Ignore actual certs, but keep folder if needed
backend/certs/*.pem
backend/certs/*.crt
backend/certs/*.key
backend/certs/*.pdf
frontend/certs/*.pem
frontend/certs/*.crt
frontend/certs/*.key
frontend/certs/*.pdf